body{
    /* background-color: pink; */
    font-family: sans-serif; 
    /* background-image: url(../imagens/chalkboard.jpg); */
    background-attachment: fixed;
}

header{
    color: black;
    text-decoration:underline;
    text-align: center;
    padding: 50px;  
}

strong{
    display: block;    
    font-style: bold;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

em{
    text-align: justify;
    font-size: 14px;
    line-height: 9px;
    color:black;
}

mark{
    color: pink;
}

textarea:hover{
    background-color: rgb(223, 236, 232);
    resize: vertical;
}

#name:hover{
    background-color: rgb(223, 236, 232);
}
#email:hover{
    background-color: rgb(223, 236, 232);
}

.hobbies:hover{
    border-radius: 20px;
}