body{
    /* background-color: pink; */
    font-family: sans-serif; 
    /* background-image: url(../imagens/chalkboard.jpg); */
    background-attachment: fixed;
}

header{
    color: black;
    text-decoration:underline;
    text-align: center;    
}

strong{
    display: block;    
    font-style: bold;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

em{
    text-align: justify;
    font-size: 14px;
    line-height: 9px;
    color:black;
}

mark{
    color: pink;
}